<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>导航条</title>
	<script src="js/jquery-3.2.1.js"></script>
    <meta charset="UTF-8">
    <!--规定可视区域的宽度为文档宽度，比例为1(转化为手机真正像素)-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--静止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<style>
   .row{
       display: inline-block;
       width: 400px;
   }
    .col-sm-6{
        width: 400px;
    }
    main{
        width: 1200px;
        margin: 0 auto;
    }
</style>
</head>

<body >
<main>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="img/pink.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="img/pink.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="img/pink.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>