<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智游培训作业网</title>
    <link rel="stylesheet" href="css/Maincss.css" type="text/css" />
    <link rel="shortcut icon" href="" />
    <meta name="viewport" content="target-densitydpi=device-dpi,user-scalable=no">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/adminjs.js"></script>
    <script src="js/JMode.js"></script>
</head>
<body id="body">
<div class="coverblack">
    <div class="phoneseacher">
        <form action="">
            <input type="text" value placeholder="输入关键字">
            <input type="button">
            <img src="img/search1.png" alt="">
        </form>
    </div>
</div>
<div class="phonenav">
    <img src="img/login.jpg" alt="">
    <a id="phonenav">
        <img src="img/all.png" alt="">
    </a>
    <a id="phoneseach">
        <img src="img/search1.png" alt="">
    </a>
</div>
<div class="leftnav">
    <ul>
        <li id="closenav"><a>X</a></li>
        <li><a href="javascript:;">优酷会员</a></li>
        <li><a href="javascript:;">腾讯会员</a></li>
        <li><a href="javascript:;">芒果会员</a></li>
        <li><a href="javascript:;">乐视会员</a></li>
        <li><a href="javascript:;">迅雷会员</a></li>
        <li><a href="javascript:;">搜狐会员</a></li>
        <li><a href="javascript:;">暴风会员</a></li>
        <li><a href="javascript:;">PPTV</a></li>
        <li><a href="javascript:;">QQ旋风</a></li>
        <li><a href="javascript:;">百度网盘</a></li>
        <li><a href="javascript:;">咪咕视频</a></li>
        <li><a href="javascript:;">腾讯动漫</a></li>
    </ul>
</div>
<header>
    <div class="headerup">
        <a href="">我要登陆</a>
        <a href="">我要注册</a>
        <a href="">找回密码</a>
        <a href="">加入计科—儿童大队</a>
    </div>
    <div>
        <img src="img/logo.png" alt="">
        <div>CoTe厦门智游实训网</div>
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">项目</a></li>
            <li><a href="">同学</a></li>
            <li><a href="">家乡</a></li>
            <li><a href="">学校</a></li>
            <li><a href="">厦门</a></li>
            <li><a href="">福州</a></li>
            <li><a href="">三明</a></li>
            <li><a href="">太原</a></li>
            <li><a href="">我</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">JS</a></li>
            <li><a href="javascript:;"><img src="img/search1.png" alt="" id="seacher"></a></li>
        </ul>
    </div>
</header>
<div class="search">
    <form action="">
        <input type="text" value placeholder="输入关键字">
        <input type="button">
        <img src="img/search1.png" alt="">
    </form>
</div>
<div class="Maincenter">
    <h1 hidden>影视VIP分享</h1>
    <!--此处添加子版页-->
    <article>
        <ul>
            <li>
                <img class="Main_img" src="img/black.jpg" alt="">
                <div>
                    <p>超低功耗，超级双摄，超长续航</p>
                    <span><a href="">点击查看Massage详细功能</a></span>
                    <img src="img/yelloiphone.png" alt="" >
                    <img src="img/yelloiphone.png" alt="" >
                    <img src="img/yelloiphone.png" alt="" >
                </div>
            </li>
            <li>
                <img class="Main_img" src="img/white.jpg" alt="">
                <div>
                    <p>黑众当道时代的纯白White异类</p>
                    <span><a href="">点击查看Massage详细功能</a></span>
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/whiteiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                    <img src="img/blackiphonece.png" alt="">
                </div>
            </li>
            <li>
                <img class="Main_img" src="img/bgblack.jpg" alt="">
                <div>
                    <p>脱胎换骨的技术团队，脱胎换骨的技术表现</p>
                    <span><a href="">点击查看Massage详细功能</a></span>
                    <img src="img/pinkphone.png" alt="">
                    <img src="img/yelloiphone.png" alt="">
                    <img src="img/balckiphone.png" alt="">
                    <img src="img/blackiohonebe.png" alt="">
                    <img src="img/yelloiphonebe.png" alt="">
                    <img src="img/pinkiphonebe.png" alt="">
                </div>
            </li>
            <li>
                <img class="Main_img" src="img/taohua.jpg" alt="">
                <div>
                    <img src="img/iphone7massage.png" alt="">
                    <img src="img/iphone.png" alt="">
                </div>
            </li>
        </ul>
    </article>
    <script>
        /**
         * Created by xqtdn on 2017/3/27.
         */
        window.onload=function () {
            $(".Maincenter article ul li>img:nth-of-type(1)").css("height",$(window).height());
            $(".Maincenter article ul li>img:nth-of-type(1)").css("width",$(window).width());
            var nowwt=0;
            var ifif=0;
            var changewidowtop=0;
            //region--引入参数--
            var oPhonenav=document.getElementsByClassName('leftnav')[0];
            var oPhoneall=document.getElementById('phonenav');
            var oBody=document.getElementById('body');
            var oPhoneclose=document.getElementById('closenav');
            var oSeach=document.getElementById('seacher');
            var osearch=document.getElementsByClassName('search')[0];
            var ophoneseach=document.getElementById('phoneseach');
            var oCoverBlack=document.getElementsByClassName('coverblack')[0];
            //endregion
            if(nowwt==0){
                $(".Maincenter article li:nth-of-type(1) div img:nth-of-type(2)").addClass("iphonefrist1");
                $(".Maincenter article li:nth-of-type(1) div img:nth-of-type(3)").addClass("iphonefrist2");
            }
             var allImg=$(".Maincenter article ul li div img");
//region--滚动条事件--
            setInterval(function () {
                ifif=0;
            },100);
            window.onscroll=function () { //每次鼠标滚动，该函数多次执行
                var widowtop=document.documentElement.scrollTop||document.body.scrollTop;
                if(ifif==0){             //设置判断变量，目的让本事件只执行一次
                     if(changewidowtop<=widowtop && nowwt<$(".Maincenter article ul li").length-1) {
                         if(nowwt==0){
                             $("header").attr("class","headercolor2");
                         }
                         else if(nowwt==1){
                             $("header").attr("class","");
                             $("header").addClass("headercolor");
                         }
                         else if(nowwt==2){
                             $("header").attr("class","headercolor2");
                         }
                         clearInterval(oTop.timer);
                         oTop.timer = setInterval(function () {
                             var cur = 0;
                             cur = widowtop;
                             var speed = ($(window).height() * (nowwt + 1) - cur) / 20;
                             speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                             if (widowtop >= $(window).height() * (nowwt + 1)) {
                                 clearInterval(oTop.timer);
                                 allImg.attr("class","");
                                 window.scrollTo(0, $(window).height() * (nowwt + 1));
                                 nowwt++;
                                 ifif = -1;
                                 changewidowtop = widowtop;
                                 if(nowwt==1){
                                     $(".Maincenter article li:nth-of-type(2) div img").addClass("iphonesecend1");
                                     $(".Maincenter article li:nth-of-type(2) div img:nth-of-type(7)").addClass("iphonesecend2");
                                 }
                                 else if(nowwt==2){
                                     $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(odd)").addClass("iphonethree1");
                                     $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(even)").addClass("iphonethree2");
                                 }
                                 else if(nowwt==3){
                                     $(".Maincenter article li:nth-of-type(4) div img:nth-of-type(2)").addClass("iphonefour");
                                 }
                             }
                             else {
                                 Math.floor(cur + speed);
                                 window.scrollTo(0, cur + speed);
                             }
                         }, 15)
                     }
                     else if(nowwt==$(".Maincenter article ul li").length-1 ){
                         if(changewidowtop<=widowtop){
                             clearInterval(oTop.timer);
                             oTop.timer = setInterval(function () {
                                 var cur = 0;
                                 cur = widowtop;
                                 var speed = ($(window).height() * (nowwt)+100 - cur) / 20;
                                 speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                                 if (widowtop >= $(window).height() * (nowwt)+100) {
                                     clearInterval(oTop.timer);
                                     allImg.attr("class","");
                                     window.scrollTo(0, $(window).height() * (nowwt)+100);
                                     nowwt++;
                                     ifif = -1;
                                     changewidowtop = widowtop;
                                 }
                                 else {
                                     Math.floor(cur + speed);
                                     window.scrollTo(0, cur + speed);
                                 }
                             }, 15)
                         }
                         else{
                             if(nowwt==3){
                                 $("header").attr("class","");
                                 $("header").addClass("headercolor");
                             }
                             clearInterval(oTop.timer);
                             oTop.timer = setInterval(function () {
                                 var cur = 0;
                                 cur = widowtop;
                                 var speed = ($(window).height() * (nowwt-1) - cur) / 20;
                                 speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                                 if (widowtop <= $(window).height() * (nowwt-1)) {
                                     clearInterval(oTop.timer);
                                     allImg.attr("class","");
                                     window.scrollTo(0, $(window).height() * (nowwt-1));
                                     nowwt--;
                                     ifif = -1;
                                     changewidowtop = widowtop;
                                  if(nowwt==2){
                                         $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(odd)").addClass("iphonethree1");
                                         $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(even)").addClass("iphonethree2");
                                     }
                                 }
                                 else {
                                     Math.floor(cur + speed);
                                     window.scrollTo(0, cur + speed);
                                 }
                             }, 15)
                         }
                     }

                     else{
                         if(nowwt==0){
                             $("header").attr("class","headercolor2");
                         }
                         else if(nowwt==1){
                             $("header").attr("class","");
                             $("header").addClass("headercolor");
                         }
                         else if(nowwt==2){
                             $("header").attr("class","headercolor2");
                         }
                         clearInterval(oTop.timer);
                         oTop.timer= setInterval(function () {
                             var cur=0;
                             cur=widowtop;
                             var speed=($(window).height()*(nowwt-1)-cur)/20;
                             speed=speed>0?Math.ceil(speed):Math.floor(speed);

                             if(widowtop<=$(window).height()*(nowwt-1))
                             {
                                 clearInterval(oTop.timer);
                                 allImg.attr("class","");
                                 window.scrollTo(0,$(window).height()*(nowwt-1));
                                 nowwt--;
                                 ifif=-1;
                                 changewidowtop=widowtop;
                                 if(nowwt==0){
                                     $(".Maincenter article li:nth-of-type(1) div img:nth-of-type(2)").addClass("iphonefrist1");
                                     $(".Maincenter article li:nth-of-type(1) div img:nth-of-type(3)").addClass("iphonefrist2");
                                 }
                                 else if(nowwt==1){
                                     $(".Maincenter article li:nth-of-type(2) div img").addClass("iphonesecend1");
                                     $(".Maincenter article li:nth-of-type(2) div img:nth-of-type(7)").addClass("iphonesecend2");
                                 }
                                 else if(nowwt==2){
                                     $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(odd)").addClass("iphonethree1");
                                     $(".Maincenter article li:nth-of-type(3) div img:nth-of-type(even)").addClass("iphonethree2");
                                 }
                                 else if(nowwt==3){
                                     $(".Maincenter article li:nth-of-type(4) div img:nth-of-type(2)").addClass("iphonefour");
                                 }
                             }
                             else
                             {
                                 Math.floor(cur+speed);
                                 window.scrollTo(0,cur+speed);
                             }
                         },15)
                     }
                  }
                else {
                    changewidowtop=widowtop;
                    return 0;
                }

            };
            //region--返回顶部--
            var oTop=document.getElementsByClassName('righttop')[0];
            oTop.onclick=function () {
                        window.scrollTo(0,0);
            };
            //endregion

            //region--手机端导航--
            oPhoneall.onclick=function () {
                if(oPhonenav.offsetLeft<0){
                    startMove(oPhonenav,'left',0);
                }
                else{
                    startMove(oPhonenav,'left',Math.round(-oBody.offsetWidth*0.6));
                }
            };
            oPhoneclose.onclick=function () {
                startMove(oPhonenav,'left',Math.round(-oBody.offsetWidth*0.6));
            };
            //endregion

            //region--搜索事件--
            oSeach.onclick=function () {
                window.scrollTo(0,0);
                var nowtop=getStyle(osearch,'margin-top');
                if(nowtop==-70+'px'){
                    startMove(osearch,'margin-top',90);
                }
                else{
                    startMove(osearch,'margin-top',-70);
                }
            };
            ophoneseach.onclick=function () {
                if(getStyle(oCoverBlack,'display')=='none'){
                    oCoverBlack.style.display='block';
                    startMove(oCoverBlack,'opacity',100);
                }
                else{
                    startMove(oCoverBlack,'opacity',0);
                    setTimeout(function () {
                        oCoverBlack.style.display='none';
                    },200);
                }
            };
            //endregion
        }

    </script>
    <!--此处添加子版页-->
    <div class="righttop">
        <img src="" alt="" ondragstart="return false">
    </div>
</div>
<footer>
    <h2>免责声明</h2>
    <p>本站只为福建智游培训做作业模板使用，如果有遇到相似问题，纯属巧合。</p>
    <p>Copyright © 20150861149 版权所有.</p>
    <img src="img/piclogo.gif" alt="王牌vip分享">
</footer>
</body>
</html>